.ToolDisplay {
	display: flex;
	flex-direction: column;
	margin: 0.4rem;

	background-color: var(--color-background-darker);
	border: var(--color-background-lighter) solid 0.2rem;
	border-radius: 0.4rem;

	align-items: baseline;
}

.line {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-content: space-between;
	justify-content: space-between;
}

.line * {
	margin: 0.4rem;
}

.line a {
	text-decoration: none;
	color: var(--color-primary-lighter);
}

.line a:visited {
	color: var(--color-primary-darker);
}

.line a:hover {
	color: var(--color-primary-lighter);
	filter: brightness(1.3);
}

.ToolDisplay button {
	background-color: var(--color-background-lighter);
	color: var(--color-primary-lighter);
	border: var(--color-primary-lighter) solid 1px;
	outline: none;
}