body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--color-primary: hsl(104, 46%, 56%);
	--color-primary-lighter: hsl(104, 46%, 66%);
	--color-primary-darker: hsl(104, 46%, 46%);
	--color-background: hsl(104, 0%, 15%);
	--color-background-lighter: hsl(0, 0%, 20%);
	--color-background-darker: hsl(104, 0%, 10%);
}